html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/*         --------------about section------------ */

.div0 {
  height: 600px;
  width: auto;
  padding: 0 136px;
  max-width: 1248px;
  display: block;
  margin: 0;
}

.mainhead {
  font-family: "Poppins", sans-serif;
  font-size: 41px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.1px;
  line-height: 44px;
  text-align: center;
  width: 1208px;
  max-width: 100%;
  margin: 0;
  padding: 50px 0;
}

#ideathon {
  background: url(background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.description {
  width: 100%;
  margin: 0 0 36px 0;
  font-size: 19.6px;
  letter-spacing: 0.1px;
  line-height: 37.24px;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: left;
}

.about {
  color: #e9e9e9;
}

/*         -----------------round section--------------- */

.sec1 {
  height: 400px;
  width: 100%;
  padding: 90px 0 90px 0;
  color: #000000;
  display: block;
}

.div1 {
  height: 400px;
  width: auto;
  padding: 0 0 0 136px;
  display: flex;
}

.sec2 {
  width: 50%;
  min-height: auto;
  min-width: auto;
  display: inline-block;
}

.image-section {
  width: 50%;
  display: flex;
  justify-content: center;
}

.round-img {
  width: 70%;
}

.round {
  width: 100%;
  margin: 0 0 36px 0;
  display: block;
  color: #2c4bff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 34.2px;
  text-decoration: none solid rgb(44, 75, 255);
  text-align: left;
}

.subhead {
  width: 100%;
  margin: 0 0 32px 0;
  color: #000000;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 44px;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: left;
  display: block;
}

.spl-sec {
  background-color: #f4f4f4;
}

/*--------------------------button---------------------- */

.btn-ctn {
  width: 100%;
  display: flex;
}

.btn {
  height: 48px;
  padding: 0 24px 0 24px;
  min-height: auto;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 46.8px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  background-color: #2c4bff;
  color: #fff;
  cursor: pointer;
  border: 2px solid #2c4cff00;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 1s;
  box-shadow: rgba(35, 31, 32, 0.2) 0px 18px 30px;
}

.btn:hover {
  background-color: #2c4cff00;
  border-color: #2c4bff;
  color: #000000;
}

.red {
  background-color: #e97284;
  margin-right: 5px;
}

.red:hover {
  background-color: #fd3755;
  color: #fff;
}

.hollow {
  border-color: #f4f4f4;
}

.hollow:hover {
  background-color: #f4f4f4;
}

.blue {
  border-color: #2c4bff;
  background-color: #fff;
  color: #000000;
  margin-left: 7px;
}

.blue:hover {
  background-color: #a9b6ff;
  color: #fff;
}

.black {
  color: #000000;
  padding: 0;
}

/* ---------------------------------navbar--------------------------------*/

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    overflow: hidden;
    background: transparent;
  }
  
  .leftnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navlink {
    /* float: left; */
    display: block;
    color: #353b5d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navlink:hover {
    background-color: #ddd;
    color: #000;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .active {
    background-color: #2c4bff;
    color: #fff;
    border-radius: 10px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .ecell-logo {
    /* background: black; */
    width: 60px;
    color: blue;
    border-radius: 50%;
    margin-right: 10px;
  }
  

/*         -----------------------section 1----------------------- */

.page1 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}
.page1-content {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 580px;
  padding-left: 5%;
}
.content1 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.content1 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #2c4bff;
  letter-spacing: 0.1px;
  line-height: 64px;
}

.content1 p {
  font-size: 1.5rem;
  font: bolder;
  color: #353b5d;
}

.page1-content-img {
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.page1-content-img img {
  box-shadow: 0px 0px 28px 4px rgb(69, 69, 69);
  width: 80%;
  height: 452px;
}

/* ------------------------guest section------------------------ */

.guest {
  height: 600px;
}

.card-container {
  height: 600px;
  padding: 0;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  justify-content: center;
}

.card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content strong {
  margin: 20px 0 3px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 25.6px;
  color: #2c4bff;
}
.card-content p {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #353b5d;
}

.card-content img {
  width: 100%;
}

.black {
  width: 100%;
  margin: 0;
  color: #2c4bff;
}

/*-----------------------------------------------footer section-------------------------------------*/
.footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #2c4bff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}
.about h2 {
  color: #ffffff;
  text-align: center;
  font-family: "poppins", sans-serif;
}

.about p {
  width: 600px;
  color: rgb(213, 213, 213);
  text-align: center;
  font-family: "roboto", sans-serif;
}
.social {
  display: flex;
  margin-top: 50px;
  width: 160px;
  justify-content: space-around;
}
.social img {
    width: 39px;
}

.footer .f-h2 {
  color: white;
  margin-top: 50px;
  font-family: 'poppins', sans-serif;
}

.Contact-Us {
  display: flex;
  flex-direction: column;
  color: #a9b6ff;
  align-items: center;
}

.Contact-Us span {
  color: #e9e9e9;
  margin-left: 5px;

}

.Contact-Us div {
  margin-bottom: 10px;
}

.Contact-Us a {
  text-decoration: none;
  color: #fd3755;
  cursor: pointer;
}
.copyright {
  margin-top: 40px;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 0.1px;
  word-spacing: 1px;
  color: #9c9c9c;
  text-align: center;
}

/*------------------------------------footer section ends--------------------------------------*/

/*-------------media querry--------------*/

@media (max-width: 1230px) {
  .div0 {
    height: 700px;
    padding: 0 76px;
  }

  .round-img {
    width: 90%;
  }

  .page1-content-img img {
    width: 90%;
    height: 400px;
  }

  .content1 h1 {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .sec2 {
    width: 100%;
  }

  .div0 {
    height: 810px;
    padding: 0 44px;
  }

  .div1 {
    padding: 0 50px 0 50px;
  }

  .round-img {
    width: 100%;
  }

  .page1-content-img img {
    width: 89%;
    height: 323px;
  }

  .page1-content {
    width: 97%;
    padding-left: 3%;
  }
}

@media (max-width: 650px) {
  .div0 {
    height: 1099px;
    padding: 0 39px;
  }

  .image-section {
    display: none;
  }
  .page1-content-img {
    display: none;
  }

  .content1 {
    width: 100%;
    height: 500px;
    padding: 0 4%;
    justify-content: center;
  }

  .content1 h1 {
    margin-bottom: 25px;
  }

  .card-container {
    flex-direction: column;
    height: 760px;
    padding: 0;
  }

  .guest {
    height: 1034px;
  }

  .black {
    margin-bottom: 32px;
  }

  .card {
    margin-bottom: 30px;
  }

  .card-content strong {
    margin: 7px 0 3px 0;
  }

  .about p{
    width: 80%;
  }

  .copyright{
    font-size: 87%;
  }

  .navlink:not(:first-child) {
    display: none;
  }

  .navlink.icon {
    float: right;
    display: block;
  }

  .responsive {
    position: relative;
  }

  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive .navlink {
    float: none;
    display: block;
    text-align: left;
  }

}

@media (max-width: 480px) {
  .div1 {
    height: 500px;
  }

  .sec1 {
    height: 500px;
  }

  .guest {
    height: 766px;
  }

  .btn {
    display: block;
    width: 70%;
    margin-bottom: 7px;
    margin-right: 0;
  }

  .btn-ctn {
    flex-direction: column;
    align-items: center;
  }

  .div0 {
    height: 1386px;
    padding: 0 25px;
  }

  .Contact-Us div{
    font-size: 90%;
  }
}

@media (max-width: 365px) {
  .div1 {
    padding: 0 25px;
  }

  .sec1 {
    height: 550px;
  }

  .div1 {
    height: 550px;
  }

  .div0 {
    height: 1721px;
    padding: 0px 18px;
  }

  .guest {
    height: 681px;
  }
}
